[Unit]
Description=Lock X session as defined in xautolock
After=suspend.target

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/%i/.Xauthority
ExecStart=xautolock -locknow

[Install]
WantedBy=suspend.target
